/* ------------------------------------ *
 *  Base Styles
/* ------------------------------------ */

.my-whatever-context {
	background-color: gray;
	border-radius: 20px;
	color: white;
	margin: 100px auto;
	padding: 20px;
	width: 300px;
}

.my-whatever-context h4 {
	margin: 0 0 10px 0;
}

/* ------------------------------------ *
 *  Social icons
/* ------------------------------------ */

.social-icons {
	color: white; /* You can change the color of the icons here*/
	text-align: center;
	width: 100%;
}

.social-icons .icon-container {
	display: inline;
	margin: 0 20px;
	position: relative;
}

.social-icons div:first-of-type {
	margin-left: 0;
}

.social-icons .icon-placeholder {
	font-size: 24px;
	height: 24px;
	left:0;
	line-height: 24px;
	position: absolute;
	top:0;
	width: 24px;
	z-index: 0;
}

.social-icons .icon-hidden {
	height: 22px;
	opacity: 0.0;
	overflow: hidden;
	padding: 1px;
	position: absolute;
	top:0;
	left:0;
	width: 22px;
	z-index: 1;
}

.social-icons .icon-hidden:hover ~ .icon-placeholder {
	color: #93becd; /* You can change the hover color of the icons here*/
}