/* ------------------------------------ *
 *  Base Styles
/* ------------------------------------ */

.your-whatever-container {
	background-color: #3a4f5c;
	border-radius: 20px;
	color: white;
	margin: 100px auto;
	padding: 20px;
	width: 300px;
}

.your-whatever-container h4 {
	margin: 0 0 10px 0;
}

/* ------------------------------------ *
 *  Social icons
/* ------------------------------------ */

.social-icons {
	text-align: center;
	width: 100%;
}

.social-icons a {
	margin: 0 10px;
}

.social-icons a i{
	color: #fff; /* You can change the color of the icons here*/
	font-size: 30px;
}

.social-icons a:hover i{
	color: #93becd; /* You can change the hover color of the icons here*/
}